/* FONTs */
    @font-face {
        font-family: OpenSans;
            src:   url('../../../../fonts/OpenSans/OpenSans-Light.eot'); /* IE9 Compat Modes */
            src:   url('../../../../fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../../../../fonts/OpenSans/OpenSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../../../../fonts/OpenSans/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../../../../fonts/OpenSans/OpenSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    @font-face {
        font-family: OpenSansBold;
            src:   url('../../../../fonts/OpenSans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
            src:   url('../../../../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../../../../fonts/OpenSans/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../../../../fonts/OpenSans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../../../../fonts/OpenSans/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    @font-face {
        font-family: UTMAvo;
            src:   url('../../../../fonts/UTMAvo/UTMAvo.eot'); /* IE9 Compat Modes */
            src:   url('../../../../fonts/UTMAvo/UTMAvo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../../../../fonts/UTMAvo/UTMAvo.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../../../../fonts/UTMAvo/UTMAvo.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../../../../fonts/UTMAvo/UTMAvo.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    @font-face {
        font-family: UTMAvoBold;
            src:   url('../../../../fonts/UTMAvo/UTMAvoBold.eot'); /* IE9 Compat Modes */
            src:   url('../../../../fonts/UTMAvo/UTMAvoBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../../../../fonts/UTMAvo/UTMAvoBold.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../../../../fonts/UTMAvo/UTMAvoBold.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../../../../fonts/UTMAvo/UTMAvoBold.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
/* VAR */
    .OpenSans { font-family: 'OpenSans'; }
    .OpenSansBold { font-family: 'OpenSansBold'; font-weight: 700; }
    .UTMAvo { font-family: 'UTMAvo'; }
    .UTMAvoBold { font-family: 'UTMAvoBold'; }
    $f_OpenSans: 'OpenSans';
    $f_OpenSansBold: 'OpenSansBold';
    $f_UTMAvo: 'UTMAvo';
    $f_UTMAvoBold: 'UTMAvoBold';

    $width_center: 1030px;
    $height_top: 30px;
    $height_search: 70px;
    $height_nav: 50px;
    $height_hotline: 82px;
    $height_hot_product: 350px;
    $height_footer: 136px;

    $color_title: #363636;
    $color_content: #464646;
    $color_red: #bf1e2e;
    $color_blue: #3aa1ea !important;
    $color_yellow: #f3d900 !important;
    $color_border: #dddddd;
/* MIXIN */
    @mixin opacity($num) {
        opacity: $num;
        filter: alpha(opacity = $num * 100);
    }
    @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
    }
    @mixin box-shadow($num) {
        -webkit-box-shadow  : $num 1px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow     : $num 1px 2px 0px rgba(0,0,0,0.75);
        box-shadow          : $num 1px 2px 0px rgba(0,0,0,0.75);
    }
    @mixin placeholder($color) {
        ::-webkit-input-placeholder {
           color: $color;
        }

        ::-moz-placeholder { /* Firefox 18- */
           color: $color;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: $color;
        }

        ::-ms-input-placeholder {
           color: $color;
        }
        ::placeholder {
            color: $color;
        }
    }
    @mixin vertical-align($position: relative) {
        position: $position;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
/* BODY */
    body {
        font-family: $f_UTMAvo;
        background: none;
        background-color: #ebebeb;
    }
    .link_full {
        display: block;
        width: 100%; height: 100%;
        position: absolute;
        z-index: 1;
        left: 0; top: 0;
    }
    .fixed {
        overflow: hidden;
    }
/* some class format */
    .text_left { text-align: left; }
    .text_right { text-align: right }
    .text_center { text-align: center; }
    .red {
        color: $color_red;
    }
    .no_padding {
        padding: 0;
    }
    .no_padding_left {
        padding-left: 0;
    }
    .no_padding_right {
        padding-right: 0;
    }
/* containers */
    .container {
        width: $width_center;
    }

/* wrap_top */
    #wrap_top {
        background: $color_red;
        height: $height_top;

        p {
            color: white;
            display: inline;
            font-size: 14px;
            line-height: $height_top;
        }
        a {
            color: white !important;
        }
    }
/* wrap_search */
    #wrap_search {
        height: $height_search;

        .container {
            height: 100%;
        }
        a.link_logo {
            height: 100%;
            line-height: $height_search;
            display: inline-block;
        }
        #wrap_frmSearch {
            #frmSearch {
                margin-top: 10px;

                .input-group {
                    height: 46px;
                    input {
                        height: 100%;
                    }
                    .input-group-addon {
                        background-color: $color_yellow;
                        color: white;
                        i {
                            font-size: 18px;
                        }
                    }
                    .input-group-addon:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
/* wrap_navigation */
    #wrap_navigation {
        position: relative;
        height: $height_nav;
        line-height: $height_nav;

        #nav_sanpham {
            font-size: 18px;

            a {
                color: $color-red;
            }
            a:hover {
                color: $color_red;
                text-decoration: none;
            }
        }
        #nav_others {
            font-size: 14px;
            height: $height_nav;

            ul.nav {

                li {
                    height: $height_nav;
                    line-height: $height_nav;

                    a {
                        display: inline-block;
                        color: $color_content;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    a:hover {
                        background: none;
                        color: $color_red;
                    }
                }
                li.active {
                    a {
                        color: $color_red;
                    }
                }
            }
        }
        #wrap_cart {
            background: url('../../images/cart.png') no-repeat left 40px center;

            #cart_number {
                position: absolute;
                left: 45px;
                top: -5px;
                font-size: 18px;
                color: $color_red;
            }
        }

    }
    #nav_sanpham_popover {
        display: none;

        .item {
            float: left;
            clear: none;
            margin: 10px 20px;
        }
        p {
            a {
                color: $color_content;
            }
            a:hover {
                color: $color_red;
                text-decoration: none;
            }
        }
        p.nav_parent {
            a {
                font-weight: 700;
            }
        }
        p.nav_child {
            text-indent: 20px;
        }
        ul {
            list-style: none;

            li {
                display: block;

                a {
                    color: $color_content;
                }
            }
        }
    }
    .webui-popover {
        top: 140px !important;
    }
    .webui-arrow {
        left: 55px !important;
    }
    .webui-popover-inner {
        width: 1030px;
        height: 200px;
        overflow: hidden !important;

        .webui-popover-content {
            overflow: hidden !important;
        }
    }
    #nav_sanpham_bg {
        background: rgba(0,0,0,0.5);
        position: fixed;
        z-index: 1;
        top: ($height_top+$height_search+$height_nav);
        left: 0;
        width: 100%; height: 100%;
        display: none;
    }
/* wrap_banner */
    #wrap_banner {
        .carousel {
            .carousel-indicators {
                bottom: 40px;

                li {
                    width: 50px;
                    height: 4px;
                    margin-right: 15px;
                    background: $color_content;
                    border: none;
                    @include border-radius(5px);
                }
                li.active {
                    background-color: $color_red;
                }
            }
            .carousel-inner {
                .item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
/* wrap_hotline */
    #wrap_hotline {
        height: $height_hotline;
        margin-top: -40px;
        margin-bottom: 40px;
        overflow: hidden;

        .container {
            background-color: white;
        }
        .wrap_title {

            .media {
                background: $color_red;
                height: $height_hotline;
                .media-left {
                    padding-top: 20px;
                    padding-left: 20px;
                }
                .media-body {
                    padding-top: 10px;
                    padding-left: 10px;
                }
            }
            p {
                color: white;
                font-size: 18px;
                margin: 0;

                span {
                    font-size: 24px;
                }
            }
        }
        .wrap_slick {
            background: white;

            .slick-slider {
                overflow: hidden;
                .slick-track {
                    .media {
                        height: $height_hotline;

                        .media-left {
                            padding-top: 20px;
                            .media-object.active {
                                display: none;
                            }
                        }
                        .media-body {
                            padding-top: 15px;
                        }
                    }
                    .media:hover {
                        cursor: pointer;

                        .media-left {
                            .media-object.normal {
                                display: none;
                            }
                            .media-object.active {
                                display: block;
                            }
                        }
                        p {
                            color: $color_blue;
                        }
                    }
                }
            }
        }
    }
/* wrap_footer */
    #wrap_footer {
        height: $height_footer;
        margin-top: 40px;
        padding: 20px 0px;
        background: white;
        ul.nav {
            margin-top: 20px;

            a {
                display: inline-block;
                color: $color_content;
                padding-bottom: 0;
            }
            a:hover {
                background: none;
                color: $color_red;
            }
        }
        p {
            font-size: 14px;
            text-align: right;
            margin: 0;
        }
        .company_name {
            color: $color_title;
        }
        .company_address {
            color: $color_content;
            line-height: 20px;
        }
    }
/* gotoTop */
    #gotoTop {
        position: fixed;
        z-index: 100;
        right: calc(((100% - #{$width_center})/2) - 86px);
        bottom: 10px;
        width: 66px;
        height: 66px;
        background: url('../../images/arrow-top.png') no-repeat center $color_red;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

/* slick */
    .slick_container { visibility: hidden; }
    .slick_container.slick-initialized { visibility: visible; }
    .slick-prev {
        left: 0 !important;
    }
    .slick-next {
        right: 0 !important;
    }
    .slick-prev:before,
    .slick-next:before {
        color: black !important;
    }
/* HOME */
    .product_box {
        text-align: center;
        height: $height_hot_product;
        overflow: hidden;

        img {
            margin: auto;
            margin-top: 20px;
        }
        p.desc {
            font-size: 14px;
            color: $color_content;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        p.prize {
            font-size: 24px;
            color: $color_red;
            margin-bottom: 0px;
        }
        p.prize_old {
            font-size: 14px;
            color: $color_title;

            span {
                text-decoration: line-through;
                padding-right: 10px;
            }
        }
    }
    #wrap_hot_product {
        height: $height_hot_product;
        margin-top: 40px;
        overflow: hidden;

        .wrap_title {
            text-align: center;
            background: $color_red;
            height: $height_hot_product;
            img {
                margin-top: 95px;
            }
            p {
                color: white;
                font-size: 24px;
                margin: 0;
                margin-top: 20px;
                line-height: 36px;
                text-transform: uppercase;
            }
            a {
                display: block;
                width: 100px;
                color: white;
                position: absolute;
                bottom: 10px;
                left: 50%;
                margin-left: -50px;
            }
        }
        .wrap_slick {
            background: white;
        }
    }
    #wrap_sale_product {
        height: $height_hot_product;
        margin-top: 40px;
        overflow: hidden;

        .wrap_title {
            text-align: center;
            background: $color_yellow;
            height: $height_hot_product;
            img {
                margin-top: 95px;
            }
            p {
                color: white;
                font-size: 24px;
                margin: 0;
                margin-top: 20px;
                line-height: 36px;
                text-transform: uppercase;
            }
            a {
                display: block;
                width: 100px;
                color: white;
                position: absolute;
                bottom: 10px;
                left: 50%;
                margin-left: -50px;
            }
        }
        .wrap_slick {
            background: white;
        }
    }
/* GIOITHIEU */
    #wrap_gioithieu {
        #wrap_right {
            padding: 0px 30px;
        }
    }
/* LIENHE */
    #wrap_lienhe {
        #wrap_right {
            padding: 0px 30px;
        }
    }
/* BANGGIA */
    #wrap_banggia {
        #wrap_right {
            padding: 0px 30px;
        }
    }
/* TINTUC */
    #wrap_tintuc {
        #wrap_right {
            padding: 0px 30px;

            .wrap_tintuc_noibat {
                margin: 30px 0px;
                padding-bottom: 30px;

                img {
                    width: 100%;
                }
            }
            h3 {
                text-align: center;
                margin-top: 0px;
            }
            .wrap_tintuc_sanpham {
                .item_tintuc_sanpham {
                    margin: 20px 0;

                    .title {
                        font-family: $f_OpenSansBold;
                    }
                }
            }
        }
    }
/* wrap_left */
    #wrap_left {
        .title {
            font-size: 20px;
            border-bottom: solid 2px;
            padding-bottom: 10px;

            i {
                @include opacity(0.5);
                float: right;
                margin-top: 5px;
            }
        }
        .thumbnail_product {
            width: 100px;
        }
    }
/* PRODUCT CATEGORY */
    .product_category {
        .title {
            color: $color_red;
        }
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;

            li:before {
                content: "+";
                margin-right: 10px;
                color: $color_red;
            }
            li {
                font-size: 14px;
                line-height: 32px;
                text-align: left;

                a {
                    color: $color_content;
                }
            }
            li:hover {
                font-weight: 700;
            }
        }
    }
/* HOT PRODUCT */
    .hot_product {
        margin-top: 40px;

        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;

            li {
                margin-bottom: 20px;

                .desc {
                    font-size: 13px;
                    margin: 0;
                    margin-top: 20px;
                }
                .prize {
                    font-size: 18px;
                    color: $color_red;
                    margin: 0;
                    margin-top: 5px;
                }
                .prize_old {
                    font-size: 14px;
                    text-decoration: line-through;
                    margin: 0;
                }
            }
            li:hover {
                font-weight: 700;
            }
        }
    }

    #pos {
        position: fixed;
        right: 20px; top: 20px;
        color: black;
        z-index: 1000;
    }
/* SANPHAM */
    #wrap_sanpham {
        #wrap_right {
            padding: 0px 30px;

            .wrap_sanpham_list {
                .item_sanpham {
                    margin: 20px 0;
                    padding: 15px;
                    text-align: center;
                    border: solid 1px transparent;

                    .wrap_thumbnail {
                        margin: auto;
                        width: 80%;
                        height: 200px;
                        overflow: hidden;
                        position: relative;

                        .thumbnail_product {
                            position: absolute;
                            top: 0; bottom: 0;
                            left: 0; right: 0;
                            margin: auto;
                            max-width: 100%;
                            max-height: 100%;

                        }
                    }
                    p.product_desc {
                        font-size: 14px;
                        color: $color_content;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        padding: 0px 10px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p.product_prize {
                        font-size: 24px;
                        color: $color_red;
                        margin-bottom: 0px;
                    }
                    p.product_prize_old {
                        font-size: 14px;
                        color: $color_title;

                        span {
                            text-decoration: line-through;
                            padding-right: 10px;
                        }
                    }
                    a.add_cart {
                        display: block;
                        position: relative;
                        margin-top: 20px;
                        color: white;
                        background: $color_red;
                        font-size: 14px;
                        line-height: 42px;
                        text-transform: uppercase;
                    }
                    a.add_cart:hover {
                        text-decoration: none;
                        color: $color_title;
                        background: $color_yellow;
                    }
                }
                .item_sanpham:hover {
                    border: solid 1px $color_content;
                }
            }

            .wrap_sanpham_detail {

                .wrap_product_picture {
                    .wrap_thumbnail {
                        float: left;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            width: 65px;

                            li {
                                margin-bottom: 10px;

                                img {
                                    width: 65px;
                                }
                            }
                        }
                    }
                    .elastislide-wrapper {
                        box-shadow: none;
                        background: transparent;
                    }

                    .wrap_large_picture {
                        float: left;
                        clear: none;
                        width: 250px;
                        margin-left: 20px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .wrap_product_info {

                    .product_name {
                        font-size: 18px;
                        margin-bottom: 20px;
                        color: $color_title;
                    }
                    .attr_name {
                        font-size: 14px;
                        line-height: 18px;
                        color: $color_content;
                        margin-bottom: 5px;
                        margin-top: 20px;
                    }
                    .attr_value {
                        font-size: 14px;
                        color: $color_blue;
                    }
                }
            }
        }
    }



/* Pagination */
    .wrap_paging {
        font-size: 24px;
        text-align: center;

        a {
            color: $color_content;
        }
        a:not(:first-child):not(:last-child)::after {
            content: ", ";
        }
        a:nth-last-child(2)::after,
        a[rel="prev"]::after {
            content: "" !important;
        }
        strong {
            color: $color_red;
        }
        strong::after {
            content: ", ";
            color: $color_content;
        }
        a:first-child {
            float: left;
        }
        a[rel="prev"] {
            float: left;
            margin-left: 40px;
        }
        a[rel="next"] {
            position: absolute;
            right: 100px;
        }
        a:last-child {
            float: right;
        }
        a:hover {
            color: $color_red;
            text-decoration: none;
        }
        a:hover::after {
            color: $color_content;
        }
    }