/* FONTs */
    @font-face {
        font-family: OpenSansBold;
            src:   url('../fonts/OpenSans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
            src:   url('../fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../fonts/OpenSans/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../fonts/OpenSans/OpenSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    @font-face {
        font-family: UTMAvo;
            src:   url('../fonts/UTMAvo/UTMAvo.eot'); /* IE9 Compat Modes */
            src:   url('../fonts/UTMAvo/UTMAvo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
                   url('../fonts/UTMAvo/UTMAvo.woff') format('woff'), /* Pretty Modern Browsers */
                   url('../fonts/UTMAvo/UTMAvo.ttf')  format('truetype'), /* Safari, Android, iOS */
                   url('../fonts/UTMAvo/UTMAvo.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
    // @font-face {
    //     font-family: FontAwesome;
    //         src:   url('../fonts/FontAwesome/FontAwesome.eot'); /* IE9 Compat Modes */
    //         src:   url('../fonts/FontAwesome/FontAwesome.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    //                url('../fonts/FontAwesome/FontAwesome.woff') format('woff'), /* Pretty Modern Browsers */
    //                url('../fonts/FontAwesome/FontAwesome.ttf')  format('truetype'), /* Safari, Android, iOS */
    //                url('../fonts/FontAwesome/FontAwesome.svg#svgFontName') format('svg'); /* Legacy iOS */
    // }

    $fA: 'FontAwesome';
    $f1: 'OpenSansBold';
    $f2: 'UTMAvo';

/* COLOR */
    $colorTitle: #363636;
    $colorContent: #464646;
    $colorRed: #bf1e2e;
    $colorBlue: #3aa1ea !important;
    $colorYellow: #f3d900 !important;
    $colorBorder: #dddddd;
    .color_blue {
        color: $colorBlue;
    }

/* VAR */
    /*$widthCenter: 1436px;*/
    $widthCenter: 1000px;
    $widthMobile: 1024px;
    $heightNav : 90px;

/* MIXIN */
    @mixin opacity($num) {
        opacity: $num;
        filter: alpha(opacity = $num * 100);
    }
    @mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
    }
    @mixin box-shadow($num) {
        -webkit-box-shadow  : $num 1px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow     : $num 1px 2px 0px rgba(0,0,0,0.75);
        box-shadow          : $num 1px 2px 0px rgba(0,0,0,0.75);
    }
    @mixin placeholder($color) {
        ::-webkit-input-placeholder {
           color: $color;
        }

        ::-moz-placeholder { /* Firefox 18- */
           color: $color;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: $color;
        }

        ::-ms-input-placeholder {
           color: $color;
        }
        ::placeholder {
            color: $color;
        }
    }
    @mixin vertical-align($position: relative) {
        position: $position;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }


/* browser lock popup */
    .blockPopup {
        width: 100%;
        position: relative;
        z-index: 20000;
        float: left; clear: both;
        background-color: #fbf6a7;
        padding: 10px;
        text-align: center;

        p {
            text-align: center;
            color: black;
            padding-top: 10px;
            padding-bottom: 0;
        }
        span {
            margin: auto;
            display: block;
            width: 100px;
            padding: 5px;
            background-color: white;
        }
        span:hover {
            cursor: pointer;
        }
    }

/* BODY */
    body {
        font-family: $f2;
        color: $colorTitle;
        background: none;
        background-color: #ebebeb;
    }
    @media screen and (max-width: 460px) {

    }
    a {
        color: $colorContent;
    }
    .btn {
        width: 130px;
        height: 30px;
        display: block;
        background: url('../images/arrow.png') no-repeat center bottom transparent;
        font-size: 15px;
        font-family: $f1;
        font-weight: 700;
        padding-top: 10px !important;
    }
    .btn:hover {
        background: url('../images/arrow-hover.png') no-repeat center bottom transparent !important;
        text-decoration: none;
        color: $colorContent !important;
    }
    .fullContainer {
        width: 100%;
        position: relative;
        float: left; clear: both;
    }
    .centerContainer {
      width: $widthCenter;
      margin: auto;
      position: relative;
    }
    .processing {
        width: 100%; height: 100%;
        position: fixed;
        z-index: 10000;
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        display: none;

        img {
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            margin: auto;
        }
    }
    @media screen and (max-width: $widthCenter) {
        .centerContainer {
            width: 98% !important;
        }
    }
    .fixed {
        position: fixed;
    }
    .pointer:hover {
        cursor: pointer;
    }
    .linkFull {
        display: block;
        width: 100%; height: 100%;
        position: absolute;
        z-index: 1;
        left: 0; top: 0;
    }
    .noPadding {
        padding: 0;
    }
    .noPaddingLeft {
        padding-left: 0;
    }
    .noPaddingRight {
        padding-right: 0;
    }
    input[type="text"], input[type="password"] {
        height: 30px;
        line-height: 30px !important;
        font-size: 15px;
    }
    label {
        cursor: default;
    }
    .hiddenInput {
        width: 0px !important; height: 0px !important;
        position: absolute;
        z-index: -1 ;
        left: 0; top: 0;
        opacity: 0;
    }

    .onMobile {
        display: none;
    }
    @media screen and (max-width: 460px) {
        .onPC {
            display: none;
        }
        .onMobile {
            display: block;
        }
    }

// arrow_box
    .arrow_box {
    	position: relative;
    	background: #ffffff;
    	border: 1px solid #cccccc;
    }
    .arrow_box:after, .arrow_box:before {
    	bottom: 100%;
    	left: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }
    .arrow_box:after {
    	border-color: rgba(255, 255, 255, 0);
    	border-bottom-color: #ffffff;
    	border-width: 14px;
    	margin-left: -14px;
    }
    .arrow_box:before {
    	border-color: rgba(204, 204, 204, 0);
    	border-bottom-color: #cccccc;
    	border-width: 15px;
    	margin-left: -15px;
    }

/* Mobile Nav */
    .mobileTop {
        position: absolute;
        z-index: 100;
        left: 0; top: 0;
        width: 100%;
        height: 110px;

        a.logoLink {
            position: absolute;
            left: 10px; top: 20px;
        }

        #mobileMenuButton {
            width: 22px;
            height: 15px;
            position: absolute;
            right: 15px; top: 30px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                // background: $colorRed;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;
            }
            span:nth-child(1) {
                top: 0px;
            }
            span:nth-child(2), span:nth-child(3) {
                top: 7px;
            }
            span:nth-child(4) {
                top: 14px;
            }
        }
        #mobileMenuButton.open {
            span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
            span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }
    .mobileNav {
        position: fixed;
        z-index: 0;
        right: 5px;
        top: 0;
        height: 100%;
        opacity: 0;
        background-color: $colorBorder;

        ul {
            position: relative;
            float: left; clear: both;
            padding: 0px;
            margin-left: 0;
            background-color: $colorBorder;
            list-style: none;

            li {
                width: 100%;
                color: black;
                float: left; clear: both;
                line-height: 40px;
                border-bottom: solid 1px white;
                padding-left: 20px;
                padding-right: 20px;
                position: relative;

                a {
                    display: block;
                    color: $colorTitle;
                }

                .submenu {

                    li {
                        border: none;

                        i.fa.fa-circle {
                            font-size: 8px;
                            margin-right: 5px;
                        }
                    }
                }
            }
            li.active {
                a {
                    color: $colorRed;
                }
            }
        }

    }

/* select */
    .selectWrapper {
        position: relative;

        .valueShow {
            width: 100%;
            background: url('../images/icon-select.png') no-repeat right 10px center;
        }
        ul {
            list-style: none;
            font-size: 14px;
            padding: 0;
            margin: 0;
            position: absolute;
            left: 0; top: 40px;
            z-index: 10;
            width: 100%;
            background-color: white;
            border: solid 1px #a8a7a7;
            @include border-radius(5px);
            display: none;
            max-height: 200px;
            overflow: scroll;

            li {
                margin: 5px 0;
                padding-left: 10px;
                line-height: 24px;
                font-size: 15px;

                &:hover {
                    color: white;
                    background-color: $colorRed;
                }
            }
        }
    }

/* top */
    #top {
        background-color: $colorRed;
        height: 30px;

        p {
            font-family: $f1;
            color: white;
            line-height: 30px;
            font-size: 14px;
            padding: 0;
        }
        a {
            color: white !important;
        }
    }
/* navigator */
    #navigatorContainer {
        padding-top: 10px;

        #mobileMenuButton {
            width: 45px; height: 45px;
            background: url('../images/btnMenuMobile.png') no-repeat center;
            position: absolute;
            right: 10px; top: 20px;
            z-index: 100;
            display: none;
        }

        #frmSearch {
            input[name="searchValue"] {
                width: 700px;
                height: 45px;
                line-height: 45px;
                font-family: $f2;
                font-size: 14px;
                color: $colorTitle;
                @include placeholder($colorTitle);
                padding: 0px 10px;
                border: solid 1px $colorBorder;
                @include border-radius(10px);
            }
            button {
                width: 45px;
                height: 45px;
                position: absolute;
                right: 0px;
                top: 0px;
                background-color: $colorYellow;
                @include border-radius(10px);
            }
        }

        #navigator {
            position: relative;
            font-family: UTMAvo;
            height: 50px;
            line-height: 50px;
            margin-top: 10px;

            #navSanPham {
                font-size: 18px;

                a {
                    // color: $colorRed !important;
                }
            }
            #nav {
                width: 700px;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    height: 50px;

                    li {
                        float: left; clear: none;
                        display: inline-block;
                        font-size: 15px;
                        line-height: 50px;
                        height: 50px;
                        margin-right: 30px;
                    }
                    li.activeNav a {
                        color: $colorRed !important;
                    }
                }
            }
            #authWrapper {
                width: 200px;
                height: 50px;
                position: absolute;
                right: 130px;
                top: 0;

                i {
                    font-size: 24px;
                    float: left;
                    margin-top: 10px;
                    margin-right: 5px;
                }
                span {
                    font-size: 13px;
                    line-height: 14px;
                    display: block;
                    float: left;
                    margin-top: 5px;
                }
                span:first-child {
                    font-weight: 700;
                }
                &:hover {
                    color: $colorBlue;
                }
                ul#authBox {
                    display: none;
                    width: 300px;
                    position: absolute;
                    z-index: 10000;
                    left: -75px;
                    top: 50px;
                    list-style: none;
                    text-align: center;
                    padding: 10px 0;
                    @include border-radius(5px);

                    li {
                        width: 90%;
                        margin: auto;
                        margin-top: 10px;
                        margin-bottom: 10px;

                        a {
                            display: block;
                            width: 100%;
                            height: 30px;
                            @include border-radius(5px);
                        }
                    }
                    li.signin {
                        a {
                            background-color: $colorBlue;
                            color: white;
                        }
                    }
                    li.signup {
                        a {
                            background-color: $colorYellow;
                            color: black;
                        }
                    }
                }
            }
            #cart {
                width: 115px;
                height: 50px;
                background: url('../images/cart.png') no-repeat left center;
                position: absolute;
                right: 0; top: 0;
                text-align: right;

                &:hover {
                    color: $colorBlue;
                }
                #cartNumber {
                    position: absolute;
                    left: 5px;
                    top: -5px;
                    font-size: 18px;
                    color: $colorRed;
                }
            }
        }
    }

// banner
    #banner {
        .owl-item {
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0) scale(1.0, 1.0);
            
            .item {
                img {
                    width: 100%;
                }
            }
        }
        .owl-pagination {
            width: 100%;
            position: absolute;
            left: 0; bottom: 50px;
            text-align: center;

            .owl-page {
                width: 65px;
                height: 5px;
                @include border-radius(3px);
                background-color: #8a8a8a;
                display: inline-block;
                margin: 0px 5px;
            }
            .owl-page.active {
                background-color: $colorRed;
            }
        }
        .owl-buttons {
            display: none;
        }
    }

// hotline
    #hotline {
        top: -40px;
        height: 80px;

        .centerContainer {
            height: 100%;
            background-color: white;
        }

        .left {
            height: 100%;
            background: url('../images/phone.png') no-repeat left 20px center $colorRed;

            p {
                color: white;
                font-size: 18px;
                font-family: $f2;
                padding-left: 70px;
                margin: 0;
                margin-top: 10px;
                line-height: 24px;


                span {
                    font-size: 24px;
                }
            }
        }
        .right {
            height: 100%;
            position: relative;

            ul {
                list-style: none;
                padding: 0 20px;
                margin: 0;
                height: 100%;

                li {
                    display: inline-block;
                    height: 100%;
                    float: left;
                    background: url('../images/skype.png') no-repeat left 15px center;

                    p {
                        font-size: 14px;
                        font-family: $f2;
                        margin-left: 40px;
                        margin-top: 15px;
                    }
                }
                li:hover {
                    color: #3aa1ea;
                    cursor: pointer;
                    background: url('../images/skype-active.png') no-repeat left 15px center;
                }
            }
            .holder {
                display: none;
            }
            .customBtns {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;

                span.arrowPrev, span.arrowNext {
                    display: block;
                    width: 31px;
                    height: 57px;
                    position: absolute;
                    top: 10px;
                }
                span.arrowPrev.jp-disabled, span.arrowNext.jp-disabled {
                    display: none;
                }
                span.arrowPrev {
                    left: 0;
                    background: url('../images/prev.png') no-repeat center;
                }
                span.arrowNext {
                    right: 0;
                    background: url('../images/next.png') no-repeat center;
                }
                span:hover {
                    cursor: pointer;
                }
            }

        }
    }

// gotoTop
    #gotoTop {
        position: fixed;
        z-index: 100;
        right: calc(((100% - #{$widthCenter})/2) - 86px);
        // bottom: 176px;
        bottom: 10px;
        width: 66px;
        height: 66px;
        background: url('../images/arrow-top.png') no-repeat center $colorRed;
        display: none;

        &:hover {
            cursor: pointer;
        }
    }

/* footer */
    #footer {
        height: 136px;
        background-color: white;
        margin-top: 60px;
        padding: 20px 0;

        a.linkLogo {
            display: block;
            clear: both;
        }
        ul.footer_navigator {
            display: block;
            clear: both;
            margin: 0;
            margin-top: 30px;
            padding: 0;

            li {
                display: inline-block;
                font-family: $f2;
                font-size: 14px;
                color: $colorTitle;
                clear: both;
                margin-right: 30px;
            }

        }
        p {
            font-size: 14px;
            text-align: right;
            margin: 0;
        }
        .company_name {
            color: $colorTitle;
        }
        .company_address {
            color: $colorContent;
            font-family: $f2;
            line-height: 20px;
        }
    }
    @media screen and (max-width: 460px) {
    }

/* popup */
    .popup, .popupCMS {
        position: fixed;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: 10000;
        text-align: center;
        display: none;

        .popupBg {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background-color: rgba(0,0,0,0.7);
        }
        .popupConainer {
            width: 600px;
            height: 320px;
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            margin: auto;
            background-color: white;

            .popupClose {
                position: absolute;
                z-index: 1;
                right: 5px; top: 5px;
                width: 40px; height: 40px;

                i {
                    font-size: 30px;
                    color: white;
                    /*position: absolute;*/
                }
                .fa-caret-down {
                    left: 5px; top: -7px;
                }
                .fa-caret-up {
                    left: 5px; top: 1px;
                }
            }
            .popupWrapper {
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;

                .popupTitle {
                    width: 100%; height: 40px;
                    color: white;
                    background-color: $colorRed;
                    text-align: left;
                    font-size: 24px;
                    line-height: 40px;
                    padding-left: 20px;
                }
                .popupContent {
                    width: 100%; height: 280px;
                    position: relative;
                    padding: 30px;
                    text-align: left;
                    font-size: 16px;
                    color: black;
                }
                .btnBackHome {
                    position: absolute;
                    bottom: 30px; right: 30px;
                }
            }
        }
    }
    @media screen and (max-width: 1024px) {
        .popup {
            .popupConainer {
                width: 50%;
                height: 50%;
            }
        }
    }
    @media screen and (max-width: 460px) {
        .popup {
            .popupConainer {
                width: 95%;
                height: 50%;
            }
        }
    }

    #popupAuth {
        .popupConainer {
            @include border-radius(10px);
            border: solid 2px #CCCCCC;

            .popupClose {
                top: -21px;
                right: -28px;
            }
            .popupWrapper {
                .popupTitle {
                    background-color: transparent;
                }
            }
        }
    }

/* PAGEs */
    #homePage {
        top: -10px;
        #hotProduct, #saleProduct {
            height: 350px;

            .title_col {
                position: relative;
                height: 100%;
                background: url('../images/hand.png') no-repeat center top 80px $colorRed;

                p {
                    color: white;
                    font-size: 24px;
                    font-family: $f2;
                    margin: 0;
                    margin-top: 180px;
                    line-height: 34px;
                    text-align: center;
                    text-transform: uppercase;

                    span {
                        font-size: 24px;
                    }
                }
                a {
                    display: block;
                    width: 100px;
                    font-family: $f2;
                    color: white;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    margin-left: -50px;
                    text-align: center;
                }
            }

            .content_col {

                .wrap {
                      position: relative;
                      margin: 0;
                      background: white;
                    }

                /* Frame */
                    .frame {
                        height: 350px;
                        line-height: 350px;
                        overflow: hidden;

                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            height: 100%;

                            li {
                                position: relative;
                                float: left;
                                width: 250px;
                                height: 100%;
                                margin: 0;
                                // padding: 20px 10px 5px 10px;
                                background: white;
                                cursor: pointer;
                            }
                            li.active {
                                p.product_desc, p.product_prize {
                                    font-weight: 700;
                                }
                            }
                        }
                    }

                /* Scrollbar */
                    .scrollbar {
                        // margin: 0 0 1em 0;
                        height: 5px;

                        line-height: 0;
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 100%;
                        background-color: transparent;
                    }

                    .scrollbar .handle {
                        width: 100px;
                        height: 100%;
                        background-color: $colorContent;
                        cursor: pointer;
                        @include border-radius(5px);
                    }

                    .scrollbar .handle .mousearea {
                        position: absolute;
                        top: -15px;
                        left: 0;
                        width: 100%;
                        height: 10px;
                    }

                /* Controls */
                    .controls {
                        position: absolute;
                        z-index: 10;
                        left: 0;
                        top: 0;
                        width: 100%;

                        .prev, .next {
                            width: 31px;
                            height: 57px;
                            position: absolute;
                            top: 160px;
                        }
                        .prev, .prev:hover {
                            left: 0;
                            background: url('../images/prev.png') no-repeat center !important;
                        }
                        .next, .next:hover {
                            right: 0;
                            background: url('../images/next.png') no-repeat center !important;
                        }
                        .prev:hover, .next:hover {
                            cursor: pointer;
                        }
                    }
                }
        }
        #saleProduct {
            top: 30px;

            .title_col {
                background: url('../images/ticket.png') no-repeat center top 80px #f3d900;

                p {
                    color: $colorTitle;
                }
                a {
                    color: $colorTitle;
                }
            }
        }
    }

    .product_box {
        font-family: $f2;
        text-align: center;
        padding: 20px 10px 5px 10px;

        p.product_desc {
            font-size: 14px;
            color: $colorContent;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        p.product_prize {
            font-size: 24px;
            color: $colorRed;
            margin-bottom: 0px;
        }
        p.product_prize_old {
            font-size: 14px;
            color: $colorTitle;

            span {
                text-decoration: line-through;
                padding-right: 10px;
            }
        }
    }

    .subPage {
        .title {
            font-size: 20px;
            border-bottom: solid 2px;
            padding-bottom: 10px;

            i {
                @include opacity(0.5);
                float: right;
                margin-top: 5px;
            }
        }
        .title.red {
            color: $colorRed;
        }
        .productList {
            margin-bottom: 30px;

            ul {
                list-style: none;
                margin: 0;

                li:before {
                    content: "+";
                    margin-right: 10px;
                    color: $colorRed;
                }
                li {
                    font-size: 14px;
                    line-height: 28px;

                    a {
                        color: $colorContent;
                    }
                }
                li:hover {
                    font-weight: 700;
                }
            }
        }
        .hotProduct {
            ul {
                list-style: none;
                margin: 0;

                li {
                    position: relative;
                    height: 110px;
                    margin-bottom: 30px;

                    .product_desc {
                        font-size: 13px;
                        margin: 0;
                        margin-top: 20px;
                    }
                    .product_prize {
                        font-size: 18px;
                        color: $colorRed;
                        margin: 0;
                        margin-top: 5px;
                    }
                    .product_prize_old {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin: 0;
                    }
                }
                li:hover {
                    font-weight: 700;
                }
            }
        }
        h4 {
            font-family: $f2;
            color: $colorRed;
            font-size: 24px;
        }
        .redCenter {
            text-align: center;
            color: $colorRed;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }

    #gioithieuPage {
        #gioithieuContent {
            padding: 20px 40px;

            h4 {
                text-align: center;
                margin-bottom: 40px;
            }
            ol {
                margin: 20px;
            }
        }
    }

    #lienhePage {
        #lienheContent {
            padding: 20px 40px;

            h4 {
                margin-bottom: 40px;
            }
            .phongkinhdoanh {
                color: $colorRed;
                margin-top: 30px;
                margin-bottom: 15px;
                font-size: 18px;
            }
        }
    }

    #banggiaPage {
        #banggiaContent {
            padding: 20px 40px;

            h4 {
                margin-bottom: 20px;
                text-align: center;
            }
            a.download_banggia {
                text-decoration: underline;
                color: $colorRed;
            }
        }
    }

    #tintucPage {
        #tintucContent {

            h4 {
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }

    ul#sanphamList {
        list-style: none;
        padding: 0 20px;
        margin: 0;
        height: 100%;

        li {
            position: relative;
            float: left; clear: none;

            .product_box {
                border: solid 1px transparent;
            }
            .product_box:hover {
                border: solid 1px #CCCCCC;
                cursor: pointer;
            }
        }
    }
    .holder_sanphamList {
        width: 100%;
        position: relative;
        z-index: 2;
        float: left; clear: both;
        font-size: 24px;
        font-family: $f2;
        text-align: center;
        margin-top: 20px;

        a:before {
            content: ", ";
        }
        a:first-child:before {
            content: "";
        }
    }
    .customBtns {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        font-size: 24px;
        font-family: $f2;
        font-weight: 700;

        span:hover {
            cursor: pointer;
            color: #1779ba;
        }
        .arrowNext_sanpham {
            float: right;
        }
    }

    #sanphamPage {
        #sanphamContent {
            position: relative;
        }
    }

    #sanpham_chitietPage {
        #sanpham_chitietContent {
            position: relative;

            .product_image {
                position: relative;
                height: 400px;

                .large_image {
                    width: 80%;
                    float: right;
                    @include vertical-align();
                }
                .small_image {
                    position: absolute;
                    left: 0;
                    top: 0; bottom: 0;
                    margin: auto;
                    width: 15%;
                    height: 300px;

                    img {
                        width: 90%;
                        margin-bottom: 10px;
                    }
                }
            }
            .product_info {
                height: 400px;
                // overflow-y: scroll;

                .product_name {
                    font-size: 18px;
                    line-height: 20px;
                    color: $colorTitle;
                    margin-bottom: 10px;
                }
                .attr_name {
                    color: $colorContent;
                    font-size: 14px;
                    margin: 0;
                }
                .attr_info {
                    font-size: 14px;
                    margin-bottom: 5px;
                    color: $colorContent;
                }
            }
            .prize_box {
                border: solid 1px #CCCCCC;
                padding: 10px;
                margin-top: 40px;

                .new_prize {
                    font-size: 24px;
                    color: $colorRed;
                    margin-bottom: 0px;
                    padding-right: 50px;
                }
                .old_prize {
                    font-size: 14px;
                    color: $colorTitle;

                    span {
                        text-decoration: line-through;
                        padding-right: 10px;
                    }
                }
                .add_cart {
                    float: right;
                    background-color: $colorRed;
                    color: white;
                    padding: 10px 20px;
                }
                .add_cart:hover {
                    cursor: pointer;
                }
            }
            .product_related {
                margin: 40px 0;
                position: relative;

                .title {
                    border: none;
                }
            }
        }
    }

/* scroll*/
    .jspVerticalBar {
        width: 7px;
        background: none;
        background-color: transparent;
    }
    .jspTrack {
        width: 1px;
        background-color: black;
    }
    .jspDrag {
        width: 7px;
        background-color: $colorRed;
        left: -3px;
        @include border-radius(10px);
    }
    .jspPane {
        max-width: 95%;
    }
/* jquery UI */
    .ui-datepicker {
        border: solid 1px $colorRed;
    }
    .ui-datepicker .ui-datepicker-header {
        padding: 0;
    }
    .ui-datepicker .ui-datepicker-title {
        font-size: 14px;
    }
