/* FONTs */
@font-face {
  font-family: OpenSans;
  src: url("../../../../fonts/OpenSans/OpenSans-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../../../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/OpenSans/OpenSans-Light.woff") format("woff"), url("../../../../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../../../../fonts/OpenSans/OpenSans-Light.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: OpenSansBold;
  src: url("../../../../fonts/OpenSans/OpenSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../../../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../../../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../../../../fonts/OpenSans/OpenSans-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: UTMAvo;
  src: url("../../../../fonts/UTMAvo/UTMAvo.eot");
  /* IE9 Compat Modes */
  src: url("../../../../fonts/UTMAvo/UTMAvo.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/UTMAvo/UTMAvo.woff") format("woff"), url("../../../../fonts/UTMAvo/UTMAvo.ttf") format("truetype"), url("../../../../fonts/UTMAvo/UTMAvo.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: UTMAvoBold;
  src: url("../../../../fonts/UTMAvo/UTMAvoBold.eot");
  /* IE9 Compat Modes */
  src: url("../../../../fonts/UTMAvo/UTMAvoBold.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/UTMAvo/UTMAvoBold.woff") format("woff"), url("../../../../fonts/UTMAvo/UTMAvoBold.ttf") format("truetype"), url("../../../../fonts/UTMAvo/UTMAvoBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* VAR */
.OpenSans {
  font-family: 'OpenSans'; }

.OpenSansBold {
  font-family: 'OpenSansBold';
  font-weight: 700; }

.UTMAvo {
  font-family: 'UTMAvo'; }

.UTMAvoBold {
  font-family: 'UTMAvoBold'; }

/* MIXIN */
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* BODY */
body {
  font-family: "UTMAvo";
  background: none;
  background-color: #ebebeb; }

.link_full {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0; }

.fixed {
  overflow: hidden; }

.fixed_bottom {
  position: fixed;
  bottom: 0;
  width: 100%; }

/* some class format */
.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

.text_center {
  text-align: center; }

.red {
  color: #bf1e2e; }

.no_padding {
  padding: 0; }

.no_padding_left {
  padding-left: 0; }

.no_padding_right {
  padding-right: 0; }

.btn_blue {
  background: #3aa1ea !important;
  color: white;
  padding: 15px; }

.btn_yellow {
  background: #f3d900 !important;
  color: #464646;
  padding: 15px; }

.note {
  padding: 10px;
  font-style: italic;
  color: #bf1e2e; }

.require {
  color: #bf1e2e; }

/* containers */
.container {
  width: 1030px; }

/* wrap_top */
#wrap_top {
  background: #bf1e2e;
  height: 30px; }
  #wrap_top p {
    color: white;
    display: inline;
    font-size: 14px;
    line-height: 30px; }
  #wrap_top a {
    color: white !important; }

/* wrap_search */
#wrap_search {
  height: 70px; }
  #wrap_search .container {
    height: 100%; }
  #wrap_search a.link_logo {
    height: 100%;
    line-height: 70px;
    display: inline-block; }
  #wrap_search #wrap_frmSearch #frmSearch {
    margin-top: 10px; }
    #wrap_search #wrap_frmSearch #frmSearch .input-group {
      height: 46px; }
      #wrap_search #wrap_frmSearch #frmSearch .input-group input {
        height: 100%; }
      #wrap_search #wrap_frmSearch #frmSearch .input-group .input-group-addon {
        background-color: #f3d900 !important;
        color: white; }
        #wrap_search #wrap_frmSearch #frmSearch .input-group .input-group-addon i {
          font-size: 18px; }
      #wrap_search #wrap_frmSearch #frmSearch .input-group .input-group-addon:hover {
        cursor: pointer; }

/* wrap_navigation */
#wrap_navigation {
  position: relative;
  height: 50px;
  line-height: 50px; }
  #wrap_navigation #nav_sanpham {
    font-size: 18px; }
    #wrap_navigation #nav_sanpham a {
      color: #bf1e2e; }
    #wrap_navigation #nav_sanpham a:hover {
      color: #bf1e2e;
      text-decoration: none; }
  #wrap_navigation #nav_others {
    font-size: 14px;
    height: 50px; }
    #wrap_navigation #nav_others ul.nav li {
      height: 50px;
      line-height: 50px; }
      #wrap_navigation #nav_others ul.nav li a {
        display: inline-block;
        color: #464646;
        padding-top: 0;
        padding-bottom: 0; }
      #wrap_navigation #nav_others ul.nav li a:hover {
        background: none;
        color: #bf1e2e; }
    #wrap_navigation #nav_others ul.nav li.active a {
      color: #bf1e2e; }
  #wrap_navigation #wrap_cart {
    background: url("../../images/cart.png") no-repeat left 40px center; }
    #wrap_navigation #wrap_cart #cart_number {
      display: block;
      width: 30px;
      position: absolute;
      left: 42px;
      top: -5px;
      font-size: 16px;
      color: #bf1e2e;
      text-align: center; }
      #wrap_navigation #wrap_cart #cart_number plus {
        position: absolute;
        top: -11px;
        left: 20px; }

#nav_sanpham_popover {
  display: none; }
  #nav_sanpham_popover .item {
    float: left;
    clear: none;
    margin: 10px 20px; }
  #nav_sanpham_popover p a {
    color: #464646; }
  #nav_sanpham_popover p a:hover {
    color: #bf1e2e;
    text-decoration: none; }
  #nav_sanpham_popover p.nav_parent a {
    font-weight: 700; }
  #nav_sanpham_popover p.nav_child {
    text-indent: 20px; }
  #nav_sanpham_popover ul {
    list-style: none; }
    #nav_sanpham_popover ul li {
      display: block; }
      #nav_sanpham_popover ul li a {
        color: #464646; }

.webui-popover {
  top: 140px !important; }

.webui-arrow {
  left: 55px !important; }

.webui-popover-inner {
  width: 1030px;
  height: 200px;
  overflow: hidden !important; }
  .webui-popover-inner .webui-popover-content {
    overflow: hidden !important; }

#nav_sanpham_bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

/* wrap_banner */
#wrap_banner .carousel .carousel-indicators {
  bottom: 40px; }
  #wrap_banner .carousel .carousel-indicators li {
    width: 50px;
    height: 4px;
    margin-right: 15px;
    background: #464646;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  #wrap_banner .carousel .carousel-indicators li.active {
    background-color: #bf1e2e; }
#wrap_banner .carousel .carousel-inner .item img {
  width: 100%; }

/* wrap_hotline */
#wrap_hotline {
  height: 82px;
  margin-top: -40px;
  margin-bottom: 40px;
  overflow: hidden; }
  #wrap_hotline .container {
    background-color: white; }
  #wrap_hotline .wrap_title .media {
    background: #bf1e2e;
    height: 82px; }
    #wrap_hotline .wrap_title .media .media-left {
      padding-top: 20px;
      padding-left: 20px; }
    #wrap_hotline .wrap_title .media .media-body {
      padding-top: 10px;
      padding-left: 10px; }
  #wrap_hotline .wrap_title p {
    color: white;
    font-size: 18px;
    margin: 0; }
    #wrap_hotline .wrap_title p span {
      font-size: 24px; }
  #wrap_hotline .wrap_slick {
    background: white; }
    #wrap_hotline .wrap_slick .slick-slider {
      overflow: hidden; }
      #wrap_hotline .wrap_slick .slick-slider .slick-track .media {
        height: 82px; }
        #wrap_hotline .wrap_slick .slick-slider .slick-track .media .media-left {
          padding-top: 20px; }
          #wrap_hotline .wrap_slick .slick-slider .slick-track .media .media-left .media-object.active {
            display: none; }
        #wrap_hotline .wrap_slick .slick-slider .slick-track .media .media-body {
          padding-top: 15px; }
      #wrap_hotline .wrap_slick .slick-slider .slick-track .media:hover {
        cursor: pointer; }
        #wrap_hotline .wrap_slick .slick-slider .slick-track .media:hover .media-left .media-object.normal {
          display: none; }
        #wrap_hotline .wrap_slick .slick-slider .slick-track .media:hover .media-left .media-object.active {
          display: block; }
        #wrap_hotline .wrap_slick .slick-slider .slick-track .media:hover p {
          color: #3aa1ea !important; }

/* wrap_footer */
#wrap_footer {
  height: 136px;
  margin-top: 40px;
  padding: 20px 0px;
  background: white; }
  #wrap_footer ul.nav {
    margin-top: 20px; }
    #wrap_footer ul.nav a {
      display: inline-block;
      color: #464646;
      padding-bottom: 0; }
    #wrap_footer ul.nav a:hover {
      background: none;
      color: #bf1e2e; }
  #wrap_footer p {
    font-size: 14px;
    text-align: right;
    margin: 0; }
  #wrap_footer .company_name {
    color: #363636; }
  #wrap_footer .company_address {
    color: #464646;
    line-height: 20px; }

/* gotoTop */
#gotoTop {
  position: fixed;
  z-index: 100;
  right: calc(((100% - 1030px)/2) - 86px);
  bottom: 10px;
  width: 66px;
  height: 66px;
  background: url("../../images/arrow-top.png") no-repeat center #bf1e2e;
  display: none; }
  #gotoTop:hover {
    cursor: pointer; }

/* slick */
.slick_container {
  visibility: hidden; }

.slick_container.slick-initialized {
  visibility: visible; }

.slick-prev {
  left: 0 !important; }

.slick-next {
  right: 0 !important; }

.slick-prev:before,
.slick-next:before {
  color: black !important; }

/* HOME */
.product_box {
  text-align: center;
  height: 350px;
  overflow: hidden; }
  .product_box img {
    margin: auto;
    margin-top: 20px; }
  .product_box p.desc {
    font-size: 14px;
    color: #464646;
    margin-bottom: 0px;
    margin-top: 10px; }
  .product_box p.prize {
    font-size: 24px;
    color: #bf1e2e;
    margin-bottom: 0px; }
  .product_box p.prize_old {
    font-size: 14px;
    color: #363636; }
    .product_box p.prize_old span {
      text-decoration: line-through;
      padding-right: 10px; }

#wrap_hot_product {
  height: 350px;
  margin-top: 40px;
  overflow: hidden; }
  #wrap_hot_product .wrap_title {
    text-align: center;
    background: #bf1e2e;
    height: 350px; }
    #wrap_hot_product .wrap_title img {
      margin-top: 95px; }
    #wrap_hot_product .wrap_title p {
      color: white;
      font-size: 24px;
      margin: 20px 0px 0px 0px;
      line-height: 36px;
      text-transform: uppercase; }
    #wrap_hot_product .wrap_title a {
      display: block;
      width: 100px;
      color: white;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -50px; }
  #wrap_hot_product .wrap_slick {
    background: white; }

#wrap_sale_product {
  height: 350px;
  margin-top: 40px;
  overflow: hidden; }
  #wrap_sale_product .wrap_title {
    text-align: center;
    background: #f3d900 !important;
    height: 350px; }
    #wrap_sale_product .wrap_title img {
      margin-top: 95px; }
    #wrap_sale_product .wrap_title p {
      color: white;
      font-size: 24px;
      margin: 0;
      margin-top: 20px;
      line-height: 36px;
      text-transform: uppercase; }
    #wrap_sale_product .wrap_title a {
      display: block;
      width: 100px;
      color: white;
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -50px; }
  #wrap_sale_product .wrap_slick {
    background: white; }

/* GIOITHIEU */
/* LIENHE */
/* BANGGIA */
/* TINTUC */
#wrap_tintuc #wrap_right .wrap_tintuc_noibat {
  margin: 30px 0px;
  padding-bottom: 30px; }
  #wrap_tintuc #wrap_right .wrap_tintuc_noibat img {
    width: 100%; }
#wrap_tintuc #wrap_right h3 {
  text-align: center;
  margin-top: 0px; }
#wrap_tintuc #wrap_right .wrap_tintuc_sanpham .item_tintuc_sanpham {
  margin: 20px 0; }
  #wrap_tintuc #wrap_right .wrap_tintuc_sanpham .item_tintuc_sanpham .title {
    font-family: "OpenSansBold"; }

/* wrap_left */
#wrap_left .title {
  font-size: 20px;
  border-bottom: solid 2px;
  padding-bottom: 10px; }
  #wrap_left .title i {
    opacity: 0.5;
    filter: alpha(opacity=50);
    float: right;
    margin-top: 5px; }
#wrap_left .thumbnail_product {
  width: 100px; }

/* wrap_right */
#wrap_right {
  padding: 0px 20px; }
  #wrap_right .col.col-sm-4 {
    padding: 10px; }

/* PRODUCT CATEGORY */
.product_category .title {
  color: #bf1e2e; }
.product_category ul.parent {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .product_category ul.parent li:before {
    content: "+";
    margin-right: 10px;
    color: #bf1e2e; }
  .product_category ul.parent li {
    font-size: 14px;
    line-height: 32px;
    text-align: left; }
    .product_category ul.parent li a {
      color: #464646; }
    .product_category ul.parent li ul.child {
      list-style: none; }
  .product_category ul.parent li:hover {
    font-weight: 700; }

/* HOT PRODUCT */
.hot_product {
  margin-top: 40px; }
  .hot_product ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .hot_product ul li {
      margin-bottom: 20px;
      padding: 5px;
      border: solid 1px #dddddd; }
      .hot_product ul li .media {
        position: relative; }
      .hot_product ul li .product_name {
        font-size: 13px;
        margin: 0px; }
      .hot_product ul li .prize {
        font-size: 18px;
        color: #bf1e2e;
        margin: 10px 0px 0px 0px; }
      .hot_product ul li .prize_old {
        font-size: 14px;
        text-decoration: line-through;
        margin: 0; }
    .hot_product ul li:hover {
      font-weight: 700;
      border: solid 1px #464646; }

#pos {
  position: fixed;
  right: 20px;
  top: 20px;
  color: black;
  z-index: 1000; }

/* SANPHAM */
#wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham {
  margin: 10px 1px;
  padding: 10px 1px;
  text-align: center;
  border: solid 1px #dddddd; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham .wrap_thumbnail {
    margin: auto;
    width: 80%;
    height: 200px;
    overflow: hidden;
    position: relative; }
    #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham .wrap_thumbnail .thumbnail_product {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham .product_information {
    height: 130px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham p.product_name {
    font-size: 14px;
    color: #464646;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 10px;
    height: 60px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham p.product_prize {
    font-size: 24px;
    color: #bf1e2e;
    margin-bottom: 0px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham p.product_prize_old {
    font-size: 14px;
    color: #363636; }
    #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham p.product_prize_old span {
      text-decoration: line-through;
      padding-right: 10px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham a.add_cart {
    display: block;
    position: relative;
    margin-top: 20px;
    color: white;
    background: #bf1e2e;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase; }
  #wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham a.add_cart:hover {
    text-decoration: none;
    color: #363636;
    background: #f3d900 !important; }
#wrap_sanpham #wrap_right .wrap_sanpham_list .item_sanpham:hover {
  border: solid 1px #464646; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_thumbnail {
  float: left; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_thumbnail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 65px; }
    #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_thumbnail ul li {
      margin-bottom: 10px; }
      #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_thumbnail ul li img {
        width: 65px; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .elastislide-wrapper {
  box-shadow: none;
  background: transparent; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_large_picture {
  float: left;
  clear: none;
  width: 250px;
  margin-left: 20px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_picture .wrap_large_picture img {
    width: 100%; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_info {
  min-height: 250px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_info .product_name {
    font-size: 20px;
    margin-bottom: 20px;
    color: #363636; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_info .attr_name {
    font-size: 14px;
    line-height: 18px;
    color: #464646;
    margin-bottom: 5px;
    margin-top: 20px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_product_info .attr_value {
    font-size: 14px;
    color: #3aa1ea !important; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price {
  border: solid 1px #999999;
  padding: 5px;
  margin-top: 20px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price p {
    display: inline-block;
    padding: 0;
    margin-top: 10px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price .product_prize {
    font-size: 24px;
    color: #bf1e2e;
    margin-left: 20px;
    margin-right: 40px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price .product_prize_old {
    font-size: 14px;
    color: #363636; }
    #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price .product_prize_old span {
      padding-right: 10px;
      text-decoration: line-through; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price a.add_cart {
    float: right;
    display: block;
    background: #bf1e2e;
    color: white;
    padding: 15px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .wrap_price a.add_cart:hover {
    text-decoration: none;
    background: #f3d900 !important;
    color: #363636; }
#wrap_sanpham #wrap_right .wrap_sanpham_detail .item_number {
  float: right;
  clear: none;
  margin: 10px 30px 0px 10px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .item_number input[name="item_number"] {
    width: 60px; }
  #wrap_sanpham #wrap_right .wrap_sanpham_detail .item_number input[name="item_number"]:hover {
    cursor: text; }

/* GIOHANG */
#wrap_giohang {
  min-height: 400px; }
  #wrap_giohang .wrap_lbl_giohang {
    padding: 15px;
    margin: 15px 0px;
    border: solid 1px #dddddd; }
    #wrap_giohang .wrap_lbl_giohang .number_item {
      color: #3aa1ea !important;
      font-weight: 700; }
    #wrap_giohang .wrap_lbl_giohang span.btn_text {
      float: right;
      clear: none;
      background: #bf1e2e;
      color: white;
      padding: 15px;
      margin-top: -15px; }
  #wrap_giohang .wrap_giohang_danhsach .wrap_giohang_item {
    height: 150px;
    padding: 20px 0px;
    margin-bottom: 10px;
    background: white; }
    #wrap_giohang .wrap_giohang_danhsach .wrap_giohang_item .col {
      height: 100%; }
  #wrap_giohang .wrap_giohang_danhsach .need_contact {
    background-color: rgba(152, 152, 152, 0.1); }
  #wrap_giohang .wrap_giohang_danhsach .col_thumbail {
    text-align: center; }
    #wrap_giohang .wrap_giohang_danhsach .col_thumbail .thumbnail_product {
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  #wrap_giohang .wrap_giohang_danhsach .delete_item {
    position: absolute;
    bottom: 0px; }
  #wrap_giohang .wrap_giohang_danhsach .col_prize {
    position: relative; }
    #wrap_giohang .wrap_giohang_danhsach .col_prize .product_prize span:first-child {
      font-size: 12px; }
    #wrap_giohang .wrap_giohang_danhsach .col_prize .product_prize span:last-child {
      font-size: 18px;
      font-weight: 700; }
    #wrap_giohang .wrap_giohang_danhsach .col_prize .product_prize_old {
      font-size: 14px;
      color: #363636;
      padding-right: 10px;
      text-decoration: line-through; }
    #wrap_giohang .wrap_giohang_danhsach .col_prize .contact_price {
      position: absolute;
      left: 0;
      bottom: 0;
      color: #bf1e2e;
      font-size: 11px;
      margin: 0; }
  #wrap_giohang .wrap_giohang_danhsach .col_number_item span:first-child {
    font-size: 12px;
    float: left;
    clear: both; }
  #wrap_giohang .wrap_giohang_danhsach .col_number_item .item_number input[name="item_number"] {
    width: 60px; }
  #wrap_giohang .wrap_giohang_danhsach .col_number_item .item_number input[name="item_number"]:hover {
    cursor: text; }
  #wrap_giohang .wrap_giohang_danhsach .col_sub_total .sub_total span:first-child {
    font-size: 12px;
    float: left; }
  #wrap_giohang .wrap_giohang_danhsach .col_sub_total .sub_total span:last-child {
    float: right;
    font-size: 18px;
    font-weight: 700; }
  #wrap_giohang .wrap_giohang_tong {
    padding: 15px;
    margin: 15px 0px;
    border: solid 1px #dddddd; }
    #wrap_giohang .wrap_giohang_tong p {
      color: #bf1e2e;
      text-align: right; }
      #wrap_giohang .wrap_giohang_tong p span {
        font-size: 16px;
        font-weight: bold; }
      #wrap_giohang .wrap_giohang_tong p span.currency {
        margin-left: 100px;
        margin-right: 20px; }
      #wrap_giohang .wrap_giohang_tong p span.total {
        font-size: 24px;
        font-weight: 700; }
  #wrap_giohang .btn_dathang {
    float: right; }
  #wrap_giohang .btn_muahang {
    float: left; }

/* CHECKOUT */
#wrap_checkout .wrap_steps {
  margin-top: 20px;
  background: white;
  padding: 15px; }
  #wrap_checkout .wrap_steps .stepwizard {
    display: table;
    width: 100%;
    position: relative; }
    #wrap_checkout .wrap_steps .stepwizard .stepwizard-row {
      display: table-row; }
    #wrap_checkout .wrap_steps .stepwizard .stepwizard-step p {
      margin-top: 10px; }
    #wrap_checkout .wrap_steps .stepwizard .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important; }
    #wrap_checkout .wrap_steps .stepwizard .stepwizard-row:before {
      top: 24px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0; }
    #wrap_checkout .wrap_steps .stepwizard .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative; }
    #wrap_checkout .wrap_steps .stepwizard .btn-circle {
      width: 50px;
      height: 50px;
      text-align: center;
      padding: 6px 0;
      font-size: 16px;
      line-height: 1.428571429;
      border-radius: 25px; }
#wrap_checkout .wrap_order_review {
  margin-bottom: 20px; }
#wrap_checkout .title {
  color: #bf1e2e;
  padding: 20px 10px; }
#wrap_checkout .tbl_order {
  width: 100%;
  background-color: white; }
  #wrap_checkout .tbl_order th {
    font-weight: 700;
    text-align: center;
    color: #3aa1ea !important; }
  #wrap_checkout .tbl_order th, #wrap_checkout .tbl_order td {
    border: solid 1px #dddddd;
    padding: 10px; }
  #wrap_checkout .tbl_order .tr_tongcong {
    color: #bf1e2e; }
#wrap_checkout .wrap_customer_info form {
  background-color: white;
  padding: 20px; }
  #wrap_checkout .wrap_customer_info form .frm_block {
    margin-bottom: 20px; }
  #wrap_checkout .wrap_customer_info form .select2-container {
    width: 100% !important; }
  #wrap_checkout .wrap_customer_info form .select2-selection {
    height: 34px !important; }
  #wrap_checkout .wrap_customer_info form .different_address {
    display: none; }
  #wrap_checkout .wrap_customer_info form .btn_hoantat {
    float: right; }
#wrap_checkout .btn_xacnhan {
  float: right; }

/* Pagination */
.wrap_paging {
  font-size: 24px;
  text-align: center; }
  .wrap_paging a {
    color: #464646; }
  .wrap_paging a:not(:first-child):not(:last-child)::after {
    content: ", "; }
  .wrap_paging a:nth-last-child(2)::after,
  .wrap_paging a[rel="prev"]::after {
    content: "" !important; }
  .wrap_paging strong {
    color: #bf1e2e; }
  .wrap_paging strong::after {
    content: ", ";
    color: #464646; }
  .wrap_paging a:first-child {
    float: left; }
  .wrap_paging a[rel="prev"] {
    float: left;
    margin-left: 40px; }
  .wrap_paging a[rel="next"] {
    position: absolute;
    right: 100px; }
  .wrap_paging a:last-child {
    float: right; }
  .wrap_paging a:hover {
    color: #bf1e2e;
    text-decoration: none; }
  .wrap_paging a:hover::after {
    color: #464646; }

.wrap_paging_jpages a.jp-current {
  color: #bf1e2e; }
.wrap_paging_jpages a.jp-previous::after {
  content: '<'; }
.wrap_paging_jpages a.jp-next::after {
  content: '>'; }
.wrap_paging_jpages a:hover {
  cursor: pointer;
  color: #bf1e2e !important; }
